<mat-card>
  <mat-card-header>
    <mat-card-title [routerLink]="['/announcement', announcement.id]">{{announcement.title}}</mat-card-title>
    <mat-card-subtitle>{{announcement.author | nameFormat}}</mat-card-subtitle>
    <mat-card-subtitle>Category: {{currentCategory.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{announcement.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="delete-button" (click)="deleteAnnouncement()">Delete</button>
    <button mat-button class="edit-button" [routerLink]="['/announcement/edit', announcement.id]">Edit</button>
  </mat-card-actions>
</mat-card>
