$bg-color: #f4f4f5;

.mdc-card {
  padding: 25px;
  background-color: $bg-color;
}

.mat-mdc-card-content {
  margin-top: 20px;
}

.mat-mdc-card-actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.mat-mdc-button {
  padding: 0 20px;
}

.delete-button {
  background-color: #ef4444;
  color: white !important;
}

.edit-button{
  background-color: #a5f3fc;
}

.mat-mdc-card-title{
  &:hover {
    cursor: pointer;
  }
}
