<div class="announcement-options">
  <app-categories
    class="category-selector"
    (changeCategory)="filterCategories($event)"
  ></app-categories>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold" (click)="changeGridCols(1)">List</mat-button-toggle>
    <mat-button-toggle value="italic" (click)="changeGridCols(3)">Grid</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<p>
  {{ notificationMessage }}
</p>
<div *ngIf="filteredAnnouncements.length > 0; else noAnnouncementMessage">
  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="270px">
    <mat-grid-tile *ngFor="let announcement of filteredAnnouncements">
      <app-announcement
        [announcement]="announcement"
        class="announcement-card"
      ></app-announcement>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #noAnnouncementMessage>
  <div class="no-announcement-message">
    <p>No announcements available.</p>
  </div>
</ng-template>
