<form action="">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Author</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Message</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
</form>
